@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body{
  background-color: #000000;
}

table input[type="checkbox"]{
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 5px;
}


.btn-primary {
  @apply bg-primary text-white font-semibold py-2 px-4 rounded transition-colors;
}

.btn-primary:hover {
  @apply bg-primary-accent;
}


.btn-secondary {
  @apply  text-white border font-semibold py-2 px-4 rounded;
}

.input-primary {
  @apply border border-white rounded px-3 py-2;
}

.section_page{
  @apply p-4 flex flex-col gap-6;
}

/* modal */

.modal_container{
  @apply fixed inset-0 flex items-center justify-center p-4
}

.dialog_title{
  @apply text-xl font-semibold text-gray-900 dark:text-white
}

.dialog_panel{
  @apply bg-principal-bg border border-white border-opacity-40 rounded-lg p-6 w-full max-w-lg space-y-8
}

.modal_header{
  @apply flex items-center justify-between
}

.modal_footer{
  @apply flex justify-end gap-4
}
